<!-- users/show ユーザーの詳細 -->
<div>
  <h3><%= @user.name %></h3>
  <%= image_tag @user.get_profile_image(100,100) %>
  <!--以下のコードはプロフィールの編集画面へのリンク-->
  <% if @user == current_user.id %>
    <p><%= link_to "プロフィール編集", edit_user_path(@user) %></p>
  <% end %>>
</div>

<!-- ユーザーの投稿一覧 -->
<!--以下のコードは部分テンプレート使用（違う場所にファイルがあるのでフォルダ名も指定する必要あり）-->
<%= render 'post_images/list', post_images: @post_images %>